@page
@model ProgramasRazor.Pages.Programa2Model
@{
    ViewData["Title"] = "Cifrado César";
}
<div class="contenedor-titulo">
    <h2>Cifrado César</h2>
</div>

<div class="contenedor">
<form method="post">
    <div>
        <label for="mensaje">Mensaje:</label>
        <input type="text" id="mensaje" name="mensaje" asp-for="mensaje" required />
    </div>
    <div>
        <label for="desplazamiento">Desplazamiento (n):</label>
        <input type="number" id="desplazamiento" name="desplazamiento" asp-for="desplazamiento" required />
    </div>
    <div>
        <label for="operacion">Operación:</label>
        <select id="operacion" name="operacion" asp-for="operacion">
            <option value="codificar">Codificar</option>
            <option value="decodificar">Decodificar</option>
        </select>
    </div>
    <button type="submit" class="btn"><span>Procesar</span></button>
</form>

@if (Model.resultado != null)
{
    <h3><strong>RESULTADO</strong></h3>
    <p>@Model.resultado</p>
}
</div>